[2018-12-01 00:04] laura-rodriguez opened #4 "Fix broken image in README"

[2018-12-05 21:41] laura-rodriguez opened #7 "Add API documentation in developer.okta.com"
For the management SDK we have this: https://developer.okta.com/okta-sdk-dotnet/latest/.

[2018-12-05 22:08] laura-rodriguez opened #8 "Get Integration Tests running in Travis"

[2018-12-20 17:54] guanchzhou opened #9 "Link to https://developer.okta.com/okta-auth-dotnet/releases/"
Link to https://developer.okta.com/okta-auth-dotnet/releases/ release page returns 404.

[2018-12-21 01:18] nbarbettini commented on #9
Thanks @guanchzhou! Fixed in #10

[2019-01-25 17:34] nbarbettini opened #11 "Sdk.Abstractions package is missing description"
This package is missing a description: https://www.nuget.org/packages/Okta.Sdk.Abstractions/1.0.0-beta

Here is a suggested description:

[2019-01-25 18:30] nbarbettini opened #12 "Configuration error with valid configuration"
This code throws an exception:

[code]

The exception is:

Parameter name: OktaDomain'

[2019-02-06 22:16] gitvinit commented on #12
@nbarbettini @laura-rodriguez it seems the parameters aren't being passed to the base class BaseOktaClient constructor from AuthenticationClient constructor which is causing this exception. I can submit a PR if this hasn't been fixed yet

[2019-02-06 22:36] laura-rodriguez commented on #12
Hi @gitvinit ,
I was working with the `Okta.Auth.Sdk` by creating a new ASP.NET 4.x example and I was not able to reproduce this issue.

Can you please try with the sample and tell me if you are still facing this issue?
The project is in the `primary-auth` folder in the following branch: https://github.com/okta/samples-aspnet/tree/add-authn-sample
(waiting for approval to be merged).

You can repl

[2019-02-06 23:26] gitvinit commented on #12
Hi @laura-rodriguez the sample works fine. Ill tell you the steps I followed so you can reproduce the issue.
I just created a simple console app program and referenced the auth sdk and used the code nbarbettini used above and it throws the validation exception.
I am working on the auth-sdk from the master branch.

The problem I see is the code nate is using will call the following constructor in A

[2019-02-07 17:29] laura-rodriguez commented on #12
Hi @gitvinit,
You are right, thanks for providing the details of what's going here 💯

If you are still up you can submit a PR. You will have to sign our contributor license agreement (https://developer.okta.com/cla/). All contributions are welcome 😄
Otherwise, I will be able to fix this these days, I'd say by the end of the next week just to be safe.

Thanks!

[2019-02-11 22:07] gitvinit commented on #12
Ill be glad to submit a PR ill sign and submit the CLA as well.

[2019-02-25 18:28] laura-rodriguez opened #15 "Refactor constructor to reuse as much code as possible from BaseOktaClient"
Changes in `BaseOktaClient` shouldn't generate breaking changes in the Okta management SDK.
This might be used for both SDKs in the future.

[2019-02-26 18:54] #12 closed

[2019-03-05 18:26] #8 closed

[2019-03-05 18:27] laura-rodriguez commented on #8
CI working already.

[2019-03-06 20:36] kent-williams opened #16 "Release v1.0.1-beta NuGet Install/Update Error"
The latest release of Okta.Auth.Sdk v1.0.1-beta NuGet cannot be installed solely from NuGet because Okta.Sdk.Abstractions v1.0.1-beta has not been published yet.

NuGet gives the following error when trying to upgrade or install the latest release.
[code]

[2019-03-06 21:45] laura-rodriguez commented on #16
Hi @kent-williams! Thanks for reporting this 💯
We are already working on it.

[2019-03-07 14:57] #9 closed

[2019-03-07 15:51] laura-rodriguez commented on #16
`Okta.Sdk.Abstractions 1.0.1-beta` already available in NuGet.
Thanks @kent-williams!

[2019-03-07 15:51] #16 closed

[2019-03-15 16:55] #11 closed

[2019-03-21 17:20] laura-rodriguez opened #19 "Add Auth.Sdk in "Other .NET libs" section in docs"
See: https://developer.okta.com/code/dotnet/aspnet/

[2019-03-27 20:17] OkGoDoIt opened #20 "Fix StyleCop Warnings"
There's a lot of StyleCop warnings that need to be fixed, mostly related to documenting internal members.  Additionally there are some capitalization issues in some comments.

[2019-06-25 05:08] SychevIgor opened #23 "[Feature Request] generate access_token using SDK"
Thank you for this project.
It make a request of sessionToken really simple, but we didn't find an option to generate access token from this library and forced to generate it by our self using http client.

As a result first part of our code with sessionToken looks nice and clean, but access_token part looks a bit ugly.

Could you add in a next version a code to generate access_token using this SK

[2019-08-06 23:14] gitvinit commented on #20
Is anyone working on this if not I can take a look at fixing these issues?

[2019-08-07 19:12] laura-rodriguez commented on #20
Hi @gitvinit ,
This is not in our backlog right now. Feel free to take a look :).

Thanks!

[2019-09-25 14:47] toro705 commented on #12
any news on this?

[2019-12-10 20:06] jllanes1987 opened #26 "Setup proxy for Okta SDK"
Hi!
I'm trying to use the SDK in order to call Okta endpoints. I’m using the Official .NET SDK for the Okta API version 1.4.1.

When I'm executing:

await client.Users.GetUserAsync(username);

the call stays on Pending status forever. We work behind a proxy, and I think that is the problem, because when we change the configuration in Postman, we get the same result (Pending).

I found this:
https:

[2019-12-10 20:47] laura-rodriguez commented on #26
Hi @jllanes1987 ,

Do you have any specific details of your proxy you can share with us, so we can try to reproduce it?

[2019-12-10 20:53] jllanes1987 commented on #26
Hi @laura-rodriguez ,
Sorry, nothing specific about our proxy. Basically we need Okta to use the system's default proxy configurations.

[2019-12-10 21:56] laura-rodriguez commented on #26
Ok, then give me a few days to see if we can prioritize this, and spend some time trying to reproduce the issue.

[2019-12-10 22:23] laura-rodriguez commented on #26
@jllanes1987, since this is also "failing" in postman, can you please provide a postman example of (1) making the call with proxy settings that work (if any) and (2) making a call without proxy settings where the call fails? Does it work as expected without a proxy?

[2019-12-11 13:34] jllanes1987 commented on #26
Hi @laura-rodriguez,

Postman test:
I'm testing with the Okta user API, specifically with Find User, Get User and Get Current User endpoints.
(1) With the option to allow Postman to use the system's default proxy configurations, all the endpoints calls works.
(2) Without this option enable all the endpoints calls fails.

![PostmanErrorProxy](https://user-images.githubusercontent.com/20603278/70625

[2019-12-11 18:47] jllanes1987 commented on #26
Hi @laura-rodriguez,
I think we got it.
We followed this instruction:
https://github.com/okta/okta-auth-dotnet#configuration-reference

And we created an okta.yaml file in a .okta folder in the project's root directory with the proxy information. This is only working for us if we keep the client constructor with the domain and token data.

So, it is working now!
Thanks :)

[2019-12-11 20:49] laura-rodriguez commented on #26
I'm glad you got it working! Just to clarify, if you don't use a .okta folder, and you pass those params inline when you create a new Okta client, does it still work? Also, what happens if you put your token and domain in the same .yaml file inside your .okta folder? Aren't those grabbed by the constructor?

[2020-03-19 02:57] gituser22kk opened #27 ".NET Core - HttpClient"
We use .NET Core 2.2 and pass a httpClient when creating the AuthenticationClient()... since we want to forward user's browser info and IP address.

1. How do we set the user agent in the httpClient's headers. Looks like the SDK overwrites it. We want to forward web-client's browser's info.

2. How do we re-use the httpClient in our next call to AuthenticationClient()? It gives an error "This inst

[2020-03-20 17:10] laura-rodriguez commented on #27
Hi @gituser22kk ,

Thanks for your question.

Give me some time to take a look at this and I'll get back to you.

[2020-03-23 18:37] chrismorris-okta commented on #27
Hi @gituser22kk,

If you don't can you share a bit more details with us so we can help?

Can you tell us why you would like to forward the client browser info? Is there a specific flow or use case you are trying to accomplish? For example, are you trying to use this info in an adaptive MFA policy? https://www.okta.com/sites/default/files/okta_mfa-datasheet.pdf

[2020-03-25 14:45] gituser22kk commented on #27
We use SDK to authenticate the user... the user's aren't logging directly to Okta's portal or using any of the sign-in widget.

Thus, we need to forward the browser info for many reasons:
MFA policies.
User's IP address restrictions (black list etc.)
Record in Okta's log with the correct info... and any reporting from that.

[2020-03-26 00:29] chrismorris-okta commented on #27
Got it. Thanks for those details. #1 isn't possible at the moment but I've created a ticket for our team to add this in a future release of the SDK. We hope to support this capability in the very near future.

[2020-03-30 07:48] SychevIgor commented on #23
any updates?

[2020-03-30 17:42] laura-rodriguez commented on #23
Hi @SychevIgor ,

Thank you for your patience.

I have some follow-up questions to understand your use case better:

 What is your use case here? It seems that you are trying to use the OIDC implicit flow. Have you considered using our [OIDC integration](https://github.com/okta/okta-aspnet) for this?

The purpose of this SDK is to interact with the [Okta Authentication API](https://developer.okta.

[2020-04-17 14:42] #26 closed

[2020-04-21 14:15] laura-rodriguez commented on #27
Hi @gituser22kk ,

We have fixed the user-agent issue as part of #28.

We also added a section about sending additional info in the headers in the [readme](https://github.com/okta/okta-auth-dotnet#send-information-via-requests-headers).

[2020-04-21 14:15] #27 closed

[2020-07-07 13:46] laura-rodriguez commented on #20
Fixed in #36

[2020-07-07 13:46] #20 closed

[2020-07-23 10:40] amitSahu9 opened #37 "Issue with ActivateFactorOptions method of Okta.Auth.Sdk , getting error code E0000022"
Facing an issue while performing an activation request for SMS factor. ActivateFactorOptions() is throwing the error as "The endpoint does not support the provided HTTP method" with an error code of E0000022.
Here goes the code :-

           var activateFactorOptions = new ActivateFactorOptions()
            {
                FactorId = this.Id,
                PassCode = passCode,

[2020-07-24 17:14] bryanapellanes-okta commented on #37
Hi @amitSahu9 ,
Thank you for reaching out to report this, and I'm sorry you're seeing that error.  I will review this further internally to gain understanding as to the root of the issue.

In the mean time are you able to submit the request using Postman with the same result?  I'd like to better understand whether the cause is rooted in the Sdk or if it is potentially a problem deeper in the syst

[2020-07-25 13:49] amitSahu9 commented on #37
Hey @bryanapellanes-okta  ,
Thank you for your quick response on this issue .
As you asked ,  I have tried submitting that same request using postman and its working fine over there , i even tried to create a custom client without using the SDK and that too worked , but when using the method from SDK (ActivateFactorAsync) it gives out the error as ( the endpoint does not support the provided HTTP

[2020-07-27 16:43] bryanapellanes-okta commented on #37
@amitSahu9 ,
To help me with context in diagnosing the error that you're seeing, please submit a pull request with the minimum code required to  reproduce the issue.  I'm continuing investigation but this will be extremely helpful.  Thanks!

[2020-07-28 09:12] amitSahu9 commented on #37
@bryanapellanes-okta ,
I am preparing a new repository and with minimum required codes and will submit the request once that is done.
Will be waiting for your response.
Thank you for your help.

[2020-07-30 09:23] amitSahu9 commented on #37
@bryanapellanes-okta ,

        public async Task SendAsync(string phoneExtension , string phoneNumber)
        {
            var enrollOptions = new EnrollSmsFactorOptions()
            {
                StateToken = this.stateController.StateToken,
                PhoneExtension = phoneExtension,
                PhoneNumber = phoneNumber,
                FactorId = "mblry4uxieTrPiOcp0h7",

[2020-08-05 09:49] amitSahu9 commented on #37
Hello @bryanapellanes-okta  , is there any update on this issue , since i am relying on you for this issue .

Looking forward for a response from you.

[2020-08-05 12:42] bryanapellanes-okta commented on #37
I'm actively attempting to reproduce the issue you describe.  Preparing my environment and application state to match what I understand yours to be, but no definitive answer yet.  I appreciate your patience, I hope to have more information to share with you soon.

To help jump start my investigation, can you share a link to your code in a github repo that I can clone?

[2020-08-05 14:18] bryanapellanes-okta commented on #37
@amitSahu9 Please see my previous comment.

[2020-08-05 14:49] amitSahu9 commented on #37
@bryanapellanes-okta  thank you for the efforts that you are putting in. We dont have a repo in github currently , but since you asked i am working on it and as soon as it is done i will share the link so that you can clone.

[2020-08-05 15:51] bryanapellanes-okta commented on #37
@amitSahu9 Quick update, inquiring internally, I've been directed to this documentation: https://developer.okta.com/docs/reference/api/authn/#primary-authentication-with-public-application

I'm told that through the primary authentication process one can acquire a `stateToken` for use in the currently failing request.  I'm continuing investigation, but if you also review and explore, perhaps toget

[2020-08-06 04:20] amitSahu9 commented on #37
@bryanapellanes-okta  Okay, that stateToken i'm already getting it when i am doing primary authentication . As this issue is coming at the time of enrollment , which happens to come after primary authentication . The issue is , even if i am passing the stateToken at the time of enrollment , it still says the state is required .
The method in SDK i.e EnrollSmsFactorOptions should be able to take ne

[2020-08-07 17:51] bryanapellanes-okta commented on #37
@amitSahu9 ,
After further investigation internally, I've determined that the intent is to retire this library (Okta.Auth.Sdk) in favor of the Okta.Sdk (available on [github](https://github.com/okta/okta-sdk-dotnet) and on [nuget](https://www.nuget.org/packages/Okta.Sdk/)).

Functionality of this library (Okta.Auth.Sdk) is not well tested and not fully implemented in this scenario.  To enroll and

[2020-08-10 11:01] amitSahu9 commented on #37
@bryanapellanes-okta  thank you so much for your efforts. Will follow the instructions as you mentioned. I hope everything will go fine that way. I will reach out to you if any further assistance in needed .

[2020-08-13 08:54] amitSahu9 commented on #37
hi @bryanapellanes-okta  , is it like the Okta.Auth.Sdk will be well implemented with regards to enrollment in future?
Just curious, since we are using that Sdk , it will be usefull if that is done. Please let me know if you have any information regarding this.
Thanks..

[2020-08-13 12:20] bryanapellanes-okta commented on #37
@amitSahu9 ,
Yes, it seems the intent is to properly implement and document Sms MFA enrollment and activation using the Okta.Auth.Sdk.  However, it is yet undetermined the amount of time this will take; hopefully using the Okta.Sdk for now will suit your needs while the Okta.Auth.Sdk is reviewed.

[2020-08-13 12:37] amitSahu9 commented on #37
@bryanapellanes-okta  , Well thanks a lot for informing. I would like to ask if you there is any way to use Okta.Sdk without using API token or Client ID , since we cannot use those in our project. Is there any possible approach for that , if yes please share it.
Thanks.

[2020-08-13 13:33] bryanapellanes-okta commented on #37
@amitSahu9,
Unfortunately an API token is required to use Okta.Sdk.  I'll update here when there is more to share about using Okta.Auth.Sdk for your needs.  More to come, sorry for the inconvenience.

[2020-08-13 13:36] amitSahu9 commented on #37
Thank you so much @bryanapellanes-okta .
Do share more regarding this , your response will be highly awaited..

[2020-08-13 14:21] laura-rodriguez commented on #37
Hi @amitSahu9 ,

Sorry for the inconvenience.

Can I ask you one more thing?

You mentioned it is working when using Postman, can you please share your Postman request?
Also, can you post a Fiddler log with the request when using the SDK?

I want to compare both so we can narrow the issue.

Thanks!

[2020-08-13 14:47] amitSahu9 commented on #37
@laura-rodriguez
this is the request i am sending using postman for enrollment of sms with new number-
<img width="597" alt="enrollRequest" src="https://user-images.githubusercontent.com/54276202/90148524-06b1a500-dda1-11ea-9de6-eada8ad5dce6.PNG">

here is what i am using to activate the factor using postman -
<img width="492" alt="smsActivate" src="https://user-images.githubusercontent.com/542762

[2020-08-14 10:39] amitSahu9 commented on #37
@laura-rodriguez  here is the fiddler log, in text file.
[141_Full.txt](https://github.com/okta/okta-auth-dotnet/files/5074078/141_Full.txt)

this response corresponds to the following codes -

            public async Task SendAsync(string phoneExtension, string phoneNumber)
            {
            var enrollOptions = new EnrollSmsFactorOptions()
            {
                PhoneExtension = p

[2020-08-14 13:54] laura-rodriguez commented on #37
Hi @amitSahu9 ,

Thanks for the info.

It seems that the fiddler log you sent is incomplete. What I would like to see is the log when you send that request and the server response with the failure. Also, what the request you send looks like and headers.

Can you please send us that info? Thanks!

[2020-08-14 14:49] amitSahu9 commented on #37
@laura-rodriguez
Here are the files that you asked for-
[13439_Full.txt](https://github.com/okta/okta-auth-dotnet/files/5075205/13439_Full.txt)
[13439_Request.txt](https://github.com/okta/okta-auth-dotnet/files/5075206/13439_Request.txt)
[13439_Response.txt](https://github.com/okta/okta-auth-dotnet/files/5075207/13439_Response.txt)

and this is request -

    public async Task SendAsync(string pho

[2020-08-14 16:32] laura-rodriguez commented on #37
Thank you @amitSahu9 !

Doing a quick scan, the only diff between Postman and the SDK is the casing. In Postman you are using camel case vs pascal case in the SDK. I wonder if that could be the problem.

Have you tried passing the same JSON you are using on Postman as your payload when using the SDK? Something like this:

[code]

[2020-08-14 16:49] amitSahu9 commented on #37
@laura-rodriguez
I was unaware of this casing , i will try the one which you have mentioned above and let you know,
Thank you for helping actively.

[2020-08-17 11:00] amitSahu9 commented on #37
@laura-rodriguez
As you suggested to try pascal casing, i tried but got the response as "The request body was not well-formed."
Here are the fiddler logs -

[NewFull.txt](https://github.com/okta/okta-auth-dotnet/files/5083783/NewFull.txt)

And here is the code , do check the casing and let me know if any changes are needed :-

      public async Task SendAsync(string phoneExtension, string phoneNu

[2020-08-17 15:20] amitSahu9 opened #38 "Is there any method included in the SDK to verify the authenticity of the response getting from Okta"
After getting response from Okta i want to authenticate the response so that i can reduce the chances of phishing such as man in the middle attack . Just want to know if there is a way to check using the SDK that the response recieved is from Okta , i.e, is Authentic.
Looking forward to hearing back , Thank you.

[2020-08-17 16:53] bryanapellanes-okta commented on #38
@amitSahu9 ,
Thank you for your question.

There is no api call that you can use specifically for this purpose.  All calls made to the Okta api use HTTPS; there are mechanisms one may use to validate the authenticity of the SSL certificate (in fact this will often happen automatically depending on your platftorm).  However, this is outside the scope of our Sdk.

Feel free to reach out if you have

[2020-08-17 16:53] #38 closed

[2020-08-17 21:10] laura-rodriguez commented on #37
Hi @amitSahu9 ,

Based on your Fiddler log it seems your payload was not constructed properly. This is what you sent:

[code]

Can you please try again with this piece of code? I'm using a dynamic object so you don't have to deal with the JSON format.

[code]

The payload you send should look like the one you send via Postman:

![image](https://user-images.githubusercontent.com/16751130/90444656-3

[2020-08-18 14:20] amitSahu9 commented on #37
@laura-rodriguez
The above mentioned code actually worked properly , but the problem now is activation.
I tried to keep it exactly same as postman, still error occured. Trying different scenarios.

     public async Task VerifyAsync(string passCode)
        {
            var payload = new
            {
                stateToken = this.stateController.StateToken,
                PassCode = passCod

[2020-08-18 15:13] laura-rodriguez commented on #37
@amitSahu9 is [this](https://developer.okta.com/docs/reference/api/authn/#activate-sms-factor-request-example) the request you are trying to do?

Can you please post again the activation working on Postman and the Fiddler log when using the SDK?

[2020-08-18 15:34] amitSahu9 commented on #37
@laura-rodriguez  yes that is the one.
When trying to activate using sdk , again facing issue.
Here are the fiddler logs for request as well as response :-
[1012_Request.txt](https://github.com/okta/okta-auth-dotnet/files/5091284/1012_Request.txt)
[1012_Response.txt](https://github.com/okta/okta-auth-dotnet/files/5091286/1012_Response.txt)

And here is the code which i used  :-

      public async

[2020-08-18 15:45] laura-rodriguez commented on #37
Hmm the request looks good to me. It seems the API doesn't find a factor with id = `mbltfp0p9gacMRGqC0h7`.  Can you double check if the factor id is correct?

Sorry if I keep asking this, but does the same request with same factor id work in Postman? because you should have the same response.

[2020-08-18 16:07] amitSahu9 commented on #37
@laura-rodriguez ,
Yes as you said , nothing was wrong and it is working now properly.
I still have to test it a few more times. Thank you for helping actively ..

[2020-08-18 16:45] amitSahu9 commented on #37
@laura-rodriguez
sorry for the trouble again, it seems this way of activation is working sometimes, and sometimes throwing error as "errorSummary=Not found: Resource not found: mbltfp0p9gacMRGqC0h7 (UserFactor)" , dont know where is the issue, still trying to figure out.
Let me know if you have any suggestions. Thank you.

[2020-08-18 19:32] laura-rodriguez commented on #37
@amitSahu9 It seems that endpoint needs some time after enrollment to replicate the factor in the DB. Sometimes, this behavior is expected. I suggest you take a look at the [API Reference](https://developer.okta.com/docs/reference/api/authn).
You could potentially implement a retry logic until the factor is found.

[2020-08-19 05:19] amitSahu9 commented on #37
@laura-rodriguez  , I think i have identified the issue, it is related to the factorId as you mentioned before .
Need to check that.

[2020-08-19 16:06] amitSahu9 commented on #37
@laura-rodriguez  @bryanapellanes-okta
Thank you for your help, all the issues that i had related to the SDK has been resolved. Thank you for active help;

[2020-08-19 16:06] #37 closed

[2020-08-24 15:54] laura-rodriguez commented on #37
We do have a unit test that verifies that [`EnrollFactorAsync` sends a correct JSON](https://github.com/okta/okta-auth-dotnet/blob/master/Okta.Auth.Sdk.UnitTests/AuthenticationClientShould.cs#L471) , so anyone should be able to use that method instead of doing the request manually.

[2020-08-24 16:29] #4 closed

[2020-08-24 16:29] #19 closed

[2020-08-24 16:30] laura-rodriguez commented on #23
Closing due to inactivity.

[2020-08-24 16:30] #23 closed

[2020-09-13 06:26] SychevIgor commented on #23
closed due inactivity from okta team side.
We delivered this project by the end of 2019 and in 2020 it was already not important.

[2020-09-15 17:57] OlegBoulanov opened #41 "AuthenticationResponse.ExpiresAt timezone parsing error?"
##  Current behavior

Works fine in EST TZ (+5:00)

To reproduce the error, set computer UTC timezone (currently +1:00), try to

`AuthenticationResponse = await authenticationClient.AuthenticateAsync(new AuthenticateOptions { Username = UserName, Password = Password } ...`

18:41:39.745 User XXX authenticated: MFA_REQUIRED: AuthenticationResponse.ExpiresAt == 9/15/2020 17:46:38 +01:00

55 minutes

[2020-09-15 18:28] bryanapellanes-okta commented on #41
@OlegBoulanov ,
Thank you for submitting this issue and I'm sorry for the inconvenience.  We will review the reproduction steps and provide additional information here when we have more to share.  Stay tuned!

[2020-09-15 21:03] OlegBoulanov commented on #41
After this line: https://github.com/okta/okta-auth-dotnet/blob/bb14b9dc5853e5d74df9994fb96510f18584f3c3/Okta.Auth.Sdk.UnitTests/AuthenticationClientShould.cs#L214

add:
`authResponse.ExpiresAt.Value.Should().Be(DateTimeOffset.Parse("2015-11-03T10:15:57.000Z"));`

and see the test fail:
`Expected authResponse.ExpiresAt.Value to be <2015-11-03 10:15:57>, but it was <2015-11-03 10:15:57 -5h>`

The ex

[2020-09-16 15:33] bryanapellanes-okta commented on #41
@OlegBoulanov,
I'm able to reproduce the behavior in the tests that you describe, however, I'm unclear how this issue manifests in a production scenario.  The test code uses a mock response so I want to be careful not to conflate mock test results with a potential production issue.  Are the results you describe happening from calls to the production endpoints?

[2020-09-16 15:59] bryanapellanes-okta commented on #41
@OlegBoulanov,
When I make calls to the production endpoints, I currently receive a response which expires 8 hours into the future.  Let me know if your results are not as expected and I will investigate further.

[2020-09-16 16:19] OlegBoulanov commented on #41
@bryanapellanes-okta
As far as I understand, the intention was for password authentication response to expire in 5 minutes.
Misinterpreting expireAt results in different expiration times, depending on user's time zone! That's how e discovered the issue - all worked (with a weird expiration time) in the US (EST), but expired instantly as soon as we tried it in London, due to daylight saving time.
O

[2020-10-01 18:59] #41 closed

[2020-10-14 23:48] gituser22kk opened #46 "Force MFA_REQUIRED and clear DeviceTokens"
Hello,

(A) We use .Net 2.2 with Auth SDK version v1.1.0.  and authenticate users through apis (they don't login to Okta's tenant). The user is authenticated using DeviceToken and DeviceFingerprint. Later, if the user goes through recovery process they correctly go through MFA_REQUIRED step. However, if the user authenticates again (instead of completing the MFA_REQUIRED process) they don't go thr

[2020-10-15 01:42] bryanapellanes-okta commented on #46
@gituser22kk,
Thanks for getting in touch.

(A) To require MFA You may have luck following the instructions here: [https://developer.okta.com/docs/guides/configure-signon-policy/-/prompt-factor-group/](https://developer.okta.com/docs/guides/configure-signon-policy/-/prompt-factor-group/)

(B) We don't appear to have a documented way to clear device tokens or finger prints via api call.  I will inq

[2020-10-15 03:25] gituser22kk commented on #46
Thanks for replying. We do have sign-on policy setup to prompt for MFA (per device). However, if the user goes through recovery we want to prompt for MFA challenge again (regardless if the DeviceToken is already registered). The "state machine" shows MFA_REQUIRED after recovery but looks like it skips that if the DeviceToken is already set. Thank you!

[2020-10-15 14:15] guilherme-difranco opened #47 "Can’t get statetoken (always null)"
I’m trying to implement change password method and I need to set statetoken, but it always comes null when the user logs in ![okta](https://user-images.githubusercontent.com/57638011/96141607-8eb64700-0ed7-11eb-9225-0fc436511c4b.png)

I took this example used for testing (https://github.com/okta/okta-auth-dotnet/blob/8611e10f37c9da5350e3e0ed10d0b68a76717a58/Okta.Auth.Sdk.IntegrationTests/Authentic

[2020-10-15 14:30] bryanapellanes-okta commented on #47
@guilherme-difranco,
Thank you for your question, and I apologize for the inconvenience.  I have a couple questions to help me get a better understanding of what is happening:

1) If you make the same request via postman, do you get the state token?
2) Does the `authnResponse` contain the state token in it's `_data` field?  You can get this by calling `authnResponse.GetStringProperty("stateToken")

[2020-10-15 18:43] bryanapellanes-okta commented on #46
@gituser22kk,
Internal inquiry reveals that the functionality you're looking for does not exist in the product.  Additional information can be found at this link shared with me by a developer responsible for that area: [https://developer.okta.com/docs/reference/api/authn/#device-fingerprint-best-practices](https://developer.okta.com/docs/reference/api/authn/#device-fingerprint-best-practices).

So

[2020-10-15 19:02] #46 closed

[2020-10-15 19:03] guilherme-difranco commented on #47
Hi @bryanapellanes-okta,

thank you in advance for your help, answering your questions:

1- No, statetoken is not shown in json return
![image](https://user-images.githubusercontent.com/57638011/96173480-4fe7b780-0efe-11eb-9c13-a043f15aec1e.png)

2-  It does not contain statetoken too
![image](https://user-images.githubusercontent.com/57638011/96174363-9689e180-0eff-11eb-9ba1-b30889cc9ddd.png)

[2020-10-19 12:23] bryanapellanes-okta commented on #47
@guilherme-difranco,
I apologize for the delay; I've inquired internally with no definitive answer yet found.  Would you be able to provide sample code that reproduces this issue in a temporary github repository?  I can then review more closely to hopefully determine the cause of the issue.

[2020-10-19 13:40] guilherme-difranco commented on #47
@bryanapellanes-okta

`  var oktaClient = new OktaClient( new OktaClientConfiguration { OktaDomain = _okta.Base_url, Token = _okta.Token });
            var guid = Guid.NewGuid();

            var createdUser = await oktaClient.Users.CreateUserAsync(new CreateUserWithPasswordOptions
            {
                Profile = new UserProfile
                {
                    FirstName = "John",

[2020-10-19 18:41] bryanapellanes-okta commented on #47
@guilherme-difranco,
I've received additional information from our internal developers familiar with this area.   Excerpt from their response follows:

Hope this helps!  Thanks!

[2020-10-20 13:35] guilherme-difranco commented on #47
@bryanapellanes-okta
thank you for all your help,
my problem is that i can't get statetoken to reset the password with trusted application,
so how to obtain statetoken for this password reset? I've tried to set it but I can't get it to work at all ...
do you have any example i can follow?

[2020-10-21 12:23] bryanapellanes-okta commented on #47
@guilherme-difranco,
Can you give me more information about your use case?  Are you building an interaction that allows a user to reset their own password, or, are you trying to enable an administrator to reset a user's password?  The guidance I provide would be based on your application scenario.  Thanks!

[2020-10-22 15:05] guilherme-difranco commented on #47
Hi @bryanapellanes-okta

after all your help, activating the account and registering a question for recovery I managed to reset the password, thanks!

[2020-10-22 16:00] bryanapellanes-okta commented on #47
@guilherme-difranco,
Awesome! Glad to hear it!  Thanks for using Okta!

[2020-10-22 16:00] #47 closed

[2020-11-09 08:12] amitSahu9 opened #48 "No support for Okta totp enrollment through SDK"
Hello, this is regarding Okta TOTP enrollment through the SDK, i checked throughly and there is no method present for totp enrollment through this SDK , just wanted to know if this is going to be added in this SDK or not,  thank you.

[2020-11-09 16:34] bryanapellanes-okta commented on #48
@amitSahu9,
Thanks for reaching out!  Have you tried using this method: [https://github.com/okta/okta-auth-dotnet/blob/master/Okta.Auth.Sdk/AuthenticationClient.cs#L387](https://github.com/okta/okta-auth-dotnet/blob/master/Okta.Auth.Sdk/AuthenticationClient.cs#L387)?

[2020-11-09 16:41] amitSahu9 commented on #48
Yes i am calling the API that way, just wanted to know if it is supported by the SDK. Thanks @bryanapellanes-okta

[2020-11-10 09:19] amitSahu9 commented on #48
@bryanapellanes-okta actually i was asking regarding Enrolling in Okta Verify using the Email or Sms , which usually appears after we cant scan the QR code. ?

[2020-11-10 13:48] bryanapellanes-okta commented on #48
You can enroll in Okta Verify using `EnrollPushFactorOptions`, see [https://github.com/okta/okta-auth-dotnet#enroll-okta-verify-push-factor](https://github.com/okta/okta-auth-dotnet#enroll-okta-verify-push-factor).

[2020-12-10 15:27] pilouk opened #53 "Using HttpClient and configuration option singleton result in "Your Okta URL is missing""
I'm doing a simple project .net5.0 with the configuration below:
[code]
This works fine with the IOktaClient but doesn't work for the IAuthenticationClient which result with the following error :
[code]

## Current behavior
Crash when using the IAuthenticationClient despite adding the Oktaconfiguration correctly with singleton.

## Expected behavior
It should use the OktaConfiguration singleton li

[2020-12-10 15:38] laura-rodriguez commented on #53
Hi @pilouk ,

Thanks for reporting this and apologize for the inconvenience. I will add this to our backlog for prioritization.

We recently have a similar discussion about this here: https://github.com/okta/okta-sdk-dotnet/issues/451. I suggest you take a look and see if it's helpful.

In the meantime, are you blocked?

[2020-12-10 18:32] pilouk commented on #53
@laura-rodriguez Thanks for the quick response! we will use the classic way for testing for now. Thanks again !

[2020-12-10 18:35] laura-rodriguez commented on #53
Sounds good! Thank you :)

[2021-02-25 12:45] #48 closed

[2021-02-25 12:47] amitSahu9 opened #59 "How to integrate Duo Factor using Okta.Auth.Sdk"
How to add support for Duo Factor using Okta.Auth.Sdk . While hitting the Authentication method for DUO using the SDK we are not getting the push on Duo Security application .

[2021-02-25 13:19] bryanapellanes-okta commented on #59
@amitSahu9,
Thanks for reaching out!  To help me understand your use case better, can you share sample code that reproduces the issue?

[2021-02-25 13:33] amitSahu9 commented on #59
hi @bryanapellanes-okta  , i have tried hitting the api using the SDK -

public async Task SendAsync()
        {
            var verifyDuoFactorOptions = new VerifyDuoFactorOptions()
            {
                FactorId = this.Id,
                StateToken = this.stateController.StateToken,
            };
            var authResponse = await this.authnClient.VerifyFactorAsync(verifyDuoFactorOpt

[2021-02-25 13:38] bryanapellanes-okta commented on #59
@amitSahu9,
Thanks for providing the additional information.  I'll review more closely and reply here when I have more to share.

[2021-02-25 15:32] bryanapellanes-okta commented on #59
@amitSahu9,
After inquiring further internally, our Sdk engineers are not familiar with this factor so I will need to inquire deeper in the organization.  To help direct my investigation, please provide the raw request/response data from your test; this will help me find the appropriate group to go to.

[2021-02-25 15:45] bryanapellanes-okta commented on #59
@amitSahu9,
This link provides additional information on Duo factor enrollment and details the steps necessary:
- https://developer.okta.com/docs/reference/api/authn/?_ga=2.62669612.1266625241.1614027787-466632308.1587499635#enroll-duo-factor

[2021-03-04 13:46] amitSahu9 commented on #59
Hey @bryanapellanes-okta

var verifyFactorOptions = new VerifyDuoFactorOptions()
{
    FactorId = "ostf1fmaMGJLMNGNLIVG",
    StateToken = "foo",
};

var authResponse = await authnClient.VerifyFactorAsync(verifyFactorOptions);

is this the correct way for DUO authentication using this SDK? can you please verify if its working?

[2021-03-04 13:55] bryanapellanes-okta commented on #59
@amitSahu9,
I've opened an internal item so additional focus may be applied to providing you an answer.

[2021-03-04 13:57] amitSahu9 commented on #59
after making the API call i am getting a proper response , which shows the status as MFA_CHALLENGE,, and factorResult is WAITING, but i am not getting the push on DUO app, is any step missing or atleast let me know if i am doing anything wrong,

[2021-03-04 14:17] bryanapellanes-okta commented on #59
Based on your description I don't believe you are doing anything wrong.

[2021-03-04 14:22] bryanapellanes-okta commented on #59
@amitSahu9,
Additional documentation on Duo is also available here: https://duo.com/docs/duoweb

[2021-03-04 14:23] amitSahu9 commented on #59
@bryanapellanes-okta  could you replicate the same? is it working for you?

[2021-03-04 14:29] bryanapellanes-okta commented on #59
I've opened an internal item so additional focus may be applied to providing you an answer.  I'll inquire internally to provide you a response.

[2021-03-07 16:32] PranithaReddyAedla opened #60 "Wanted to extend UserAgentBuilder class to pass custom user-agent value"
## User story

I wanted to pass custom user-agent value for all factor authn requests

For that, I wanted to extend **UserAgentBuilder** class of **Okta.Sdk.Abstractions** and modify **Generate()** method to achieve what I wanted exactly. Since, **UserAgentBuilder** class is being a **_sealed_** type class that is not being possible now.

Currently, UserAgentBuilder generates user-agent value as *

[2021-03-07 23:38] bryanapellanes-okta commented on #60
@PranithaReddyAedla,
Thank you for reaching out!  The `UserAgentBuilder` class is sealed because it is used to define a user agent string that identifies clients to the Okta api for analytics and reporting purposes.  It is not possible to modify because the user agent values are used internally by Okta.  Please let me know if I have misinterpreted your question.

Thanks for using Okta!

[2021-03-08 08:30] amitSahu9 commented on #59
hi @bryanapellanes-okta , any update regarding the issue.. Thank you..

[2021-03-08 13:11] bryanapellanes-okta commented on #59
@amitSahu9,
Sorry for the delay, no update yet.  I'm working simultaneously to understand the Duo factor myself as well as inquiring internally to find the team responsible for that area so they may provide additional assistance.

[2021-03-08 13:27] bryanapellanes-okta commented on #59
@amitSahu9,
While I try to find additional assistance internally, have you had a chance to review the documentation [Verify Duo Factor](https://developer.okta.com/docs/reference/api/authn/?_ga=2.62669612.1266625241.1614027787-466632308.1587499635#verify-duo-factor)?

Based on this I think you need to perform a primary authentication, see [Primary Authentication](https://developer.okta.com/docs/ref

[2021-03-08 14:31] amitSahu9 commented on #59
@bryanapellanes-okta   ,
I am doing it the correct way, with primary authentication, and i'm also getting the response . That piece of code i just copied from the documentation of this SDk, I am also getting proper response but not getting the push on Duo app..

[2021-03-08 14:32] amitSahu9 commented on #59
var verifyFactorOptions = new VerifyDuoFactorOptions()
            {
                FactorId = this.Id,
                StateToken = this.stateController.StateToken,
            };

            var authResponse = await authnClient.VerifyFactorAsync(verifyFactorOptions);

 this is what i am doing.. @bryanapellanes-okta

[2021-03-08 14:45] bryanapellanes-okta commented on #59
@amitSahu9,
Acknowledged, I will need to investigate further since I don't know why it isn't working.  This work will be prioritized against other work; I hope to have an answer after having a chance to experiment with the Duo and other push factors.

[2021-03-08 14:46] laura-rodriguez commented on #60
Hi @PranithaReddyAedla,

There are certain methods that allow you to provide your own user-agent. Have checked [this section](https://dotnet-sdk.okta.com) in our readme? Does it cover your use case?

[2021-03-08 14:52] amitSahu9 commented on #59
@bryanapellanes-okta  Thank you , and i think after the Api call is made to Okta for Duo authentication,

    var authResponse = await authnClient.VerifyFactorAsync(verifyFactorOptions);

after this there are some more api calls to communicate with DUO server. Maybe that is missing.

[2021-03-08 16:44] PranithaReddyAedla commented on #60
Thank you for responding. @bryanapellanes-okta

[2021-03-08 16:49] PranithaReddyAedla commented on #60
Hey @laura-rodriguez, Thank you for responding.
But I could not access the link you provided. It is asking to authenticate via _dotnet-sdk.okta_ tenant. Could you please share snippet of readme!?

[2021-03-08 16:53] laura-rodriguez commented on #60
Hi @PranithaReddyAedla,

I've updated the link with the right URL this time 😅 ! Sorry about that.

https://github.com/okta/okta-auth-dotnet/#send-information-via-requests-headers

[2021-03-08 20:10] laura-rodriguez commented on #60
Thanks for your feedback @PranithaReddyAedla. You're right, that's not supported at the moment.

Would you mind sharing why you need to send this info? Do you need this info to satisfy some sort of policy or just for tracking purposes?

 I'd like to understand your use case better to see how we can help.

[2021-03-09 05:08] PranithaReddyAedla commented on #60
@laura-Rodriguez Wanted it for tracking purposes. Need that custom user agent to reflect in okta sys logs. We want to track, which machine (machine name and IP address) of the organization is accessing.

[2021-03-10 16:44] laura-rodriguez commented on #60
Thanks for sharing @PranithaReddyAedla!

I put a ticket in our backlog to be prioritized.

In the meantime, your best option is to fork the project and customize it with your implementation.

[2021-03-11 12:21] Pranitha-tecnics commented on #60
Thanks a ton @laura-rodriguez

[2021-03-11 16:28] PranithaReddyAedla commented on #60
Thanks a ton @laura-rodriguez for adding it to the backlog and responding.

[2021-03-16 06:16] amitSahu9 commented on #59
hi @bryanapellanes-okta any update on this?

[2021-03-16 12:15] bryanapellanes-okta commented on #59
@amitSahu9
After further review this appears to be an issue with the API.  I think it might be a good idea for you to contact our developer support team at developers@okta.com so we can have a deeper conversation, and help resolve your problem quicker.  I've let them know about this issue and to expect someone to reach out.

[2021-04-05 11:44] andriizhegurov-okta commented on #59
@amitSahu9
This is an expected behavior.
DUO is a web factor and after `VerifyFactorAsync` is called, Duo widget has to be presented to user. The widget lets the user choose a Push or SMS verification, and it starts actual Duo authentication.
Please see [Authentication API | Verify Duo Factor](https://developer.okta.com/docs/reference/api/authn/#verify-duo-factor) for more details.

[2021-04-12 16:52] andriizhegurov-okta commented on #59
Closing the issue because it's an expected behavior. Feel free to reopen if you need additional assistance.

[2021-04-12 16:52] #59 closed

[2021-07-23 13:00] bryanapellanes-okta commented on #7
Internal ticket is resolved.  Closing issue.

[2021-07-23 13:00] #7 closed

[2021-08-03 18:01] jasm5 opened #63 "Auth Code Flow & UserInfo in .NET 5"
We are using Okta auth code flow and userinfo in .NET Core 3.1 and it works correctly. We are able to authenticate with Okta, use that token to get the userinfo and then set a cookie with the correct claims based on the user that is logged in.

When trying to upgrade the same code to .NET 5, it doesn't seem to work. We can authenticate with Okta using the client_id and client_secret. It then comes

[2021-08-03 19:10] bryanapellanes-okta commented on #63
@jasm5,
Thanks for reaching out!  We'll review your question more closely to try to determine an appropriate solution to your problem.

Thanks for using Okta!

[2021-08-03 20:56] laura-rodriguez commented on #63
Hi @jasm5,

Would you mind simplifying the code a little bit and post the minimal code sample to reproduce the issue?
Also, can you also post a Fiddler log so we can review all the requests/responses being made?

Thank you!

[2021-08-04 00:31] jasm5 commented on #63
Here's a slightly paired down version.
I have captured some fiddler logs, but would prefer not to post them here due to username/password being included. How can I share them with you?

[code]

[2021-08-04 00:35] jasm5 commented on #63
I was able to confirm that these two OpenIdConnect Events are being triggered, but then nothing
- OnRedirectToIdentityProvider
- OnMessageReceived

[2021-08-04 15:59] laura-rodriguez commented on #63
I suggest reaching out to our support team at developers@okta.com, and they can hear the details of your use case and you can provide them your fiddler logs safely.

[2021-08-04 16:03] jasm5 commented on #63
Logs uploaded to case # 01166786

[2021-08-07 21:55] #63 closed

[2021-09-17 20:40] andriizhegurov-okta commented on #53
@pilouk `OktaClient` (package Okta.Sdk) and `AuthenticationClient` (package OktaAuth.Sdk) use different configuration classes though with the same name: `Okta.Sdk.Configuration.OktaClientConfiguration` and `Okta.Sdk.Abstractions.Configuration.OktaClientConfiguration`

Therefore as a wrokaround you need to configure them both like so:

[code]
This may look cumbersome, but since these packages will

[2021-09-17 20:40] #53 closed

[2021-12-14 00:32] oliverjanik opened #67 "Add Authorization code flow support"
Given I have ClientId, ClientSecret, Domain, and authorization code (after redirecting to Okta sign-in page)

How do verify the authorization code received ? I believe it's the /token endpoint.

Seems like the only supported flow in this package is username/password?

[2021-12-14 10:36] andriizhegurov-okta commented on #67
Hi @oliverjanik. I'll inquire internally if the flow is supported by the package and update you here.
Can you also give us more details about your use case? This will help us to understand your scenario better. Thanks.

[2021-12-16 10:27] andriizhegurov-okta commented on #67
@oliverjanik Okta.Auth.Sdk only supports username/password flow.
If you're using Okta sign-in widget in Asp.Net/Asp.Net Core application, you may want to employ [Okta.AspNet](/okta/okta-aspnet) instead. If this is not your case, you will unfortunately need to implement the flow manually.

[2021-12-16 10:35] oliverjanik commented on #67
I have found the Okta.AspNet packages however they are too tightly coupled to the fat framework and generally carry a lot of assumptions.

All I need is a simple lean call `Authenticate(domain, clientId, clientSecret, code` that returns the access token and refresh token.

And another one that calls /userinfo endpoint to fetch information about logged in user.

[2022-07-18 12:32] PranithaReddyAedla commented on #60
@bryanapellanes-okta Thanks for your response and for opening an internal thread.

cc @bryanapellanes-okta @laura-rodriguez @bretterer
Along with this, Could you also consider to give an option to pass Browser, OS and RawUserAgent values seperately?

As of now user-agent is of string type. Due to that, the value being passed is only assigned to RawUserAgent directly and browser is UNKNOWN always.

[2022-07-26 16:12] laura-rodriguez commented on #67
The Auth SDK is not intended to cover OIDC but the Okta Authn API. For OIDC, you can use the Asp.NET SDK or [make the calls to the API](https://developer.okta.com/docs/reference/api/oidc/).

[2022-07-26 16:12] #67 closed